<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871247798143-cft677uanch6ck1e5ggs27qpcfg60llt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871247798143-cft677uanch6ck1e5ggs27qpcfg60llt</string>
	<key>API_KEY</key>
	<string>AIzaSyCR_9yepXSw4u1PlNK4WfakALc2n6B1-so</string>
	<key>GCM_SENDER_ID</key>
	<string>871247798143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emredemircivi.FilmBrowser</string>
	<key>PROJECT_ID</key>
	<string>filmbrowser-18e9d</string>
	<key>STORAGE_BUCKET</key>
	<string>filmbrowser-18e9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871247798143:ios:a24c9a2fd17f37f5cb444a</string>
	<key>DATABASE_URL</key>
	<string>https://filmbrowser-18e9d.firebaseio.com</string>
</dict>
</plist>